.header {
  width: 100%;
  height: 39px;
  padding: 7px 0px 7px 0px;
  object-fit: contain;
  background-image: linear-gradient(to bottom, #000 -11%, rgba(0, 0, 0, 0));
  position: absolute;
  z-index: 2;
}

.btn-menu{
  font-family: SFProDisplay;
  font-size: 15px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}


.content-btn-menu{
  max-width: 450px;
  margin: auto;
}

@media (min-width: 771px) {
  .content-btn-menu {
    padding-left: 53px;
  }
}
@media (max-width: 770px) {
  .content-btn-menu {
    padding-left: 4%;
  }
}
@media (max-width: 430px) {
  .header {
    display: none;
  }
}